flask
flask-cors
asgiref
hypercorn
werkzeug
asyncpg
quart
quart-cors
pytest 
pytest-asyncio 
pytest-mock
email-validator
pyjwt
quart-auth
python-dateutil
bcrypt
tensorflow==2.12.0
music21
numpy
pandas
python-dotenv
SQLAlchemy
flask_sqlalchemy