/**
 * Global CSS styles for the application
 */

/* Reset default margin and padding for html and body */
html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Remove default styling for links */
a {
  color: inherit;
  text-decoration: none;
}

p {
  line-height:1.8
}

/* Ensure all elements use border-box for consistent sizing */
* {
  box-sizing: border-box;
}